body{
background: linear-gradient(135deg,#e40303,#ff8c00,#ffed00,#008026,#004dff,#750787);
    border-style: groove;
    width: 600px;
    height: 580px;
    border-color: gray;
    margin-left: 400px;
    padding: 5px;
    border-width: 8px;
    


    
    
}
.cbc{
    font-size: 70px;
    color: white;
    text-shadow: 0 0 5px red,
                 0 0 10px orange,
                 0 0 15px yellow,
                 0 0 20px green,
                 0 0 25px blue,
                 0 0 30px violet;
    
}
.acc{
margin-left: 100px;
width: 400px;
height: 70px;
background-color:rgba(255,255,255,0.9);
border: 2px solid #333;
border-radius: 10px;
color: black;
margin-top: 60px;
opacity: 0.8;

}
.main{
    width: 400px;
    height: 70px;
    margin-left: 100px;
    background-color: rgb(54, 238, 54);
    border-radius: 10px;
    font-size: 20px;
}
.sticker{
position:absolute;
width: 120px;
height: 120px;
top: 20px;
left: 20px;
margin-left: 400px;
padding: 5px;

}

@media(max-width:600px){
    .main{
        width:90%;
        margin:auto;
    }
    h1{
        font-size:50px;
    }
}


    
